<h1>bike ridezz</h1>
<br>
many exciting bike rides to come.
<br>

<div class="btn link-btn">
  <%= link_to "users", users_url %>
</div>
<br>
<div class="btn sign-up-btn">
  <%= link_to "sign up", new_user_url %>
</div>

