<div class="header">bike ridezz</div>
<br>
many exciting bike rides to come.
<br>
<% if @current_user %>
  <%= "hey you, welcome back" %>
<% end %>


<br>
<div class="btn sign-up-btn">
  <%= link_to "sign up", new_user_url %>
</div>

