<h1>ALL YOUR USER</h1>
  <% @users.each do |user| %>

      <div class="well user-box">
        <%= link_to user_path(user.id) do %>
        <div class="row">
          <div class="span4">
            <%= image_tag(photo_user_path(user.id)) unless user.photo_blob.nil? %>
          </div>
          <div class="span2">
            <%= user.name %>
            <%= user.email %>
          </div>
        </div>
        <% end %>
      </div>

    <br>
  <% end %>
