/*
*= require_self
*/
@import 'bootstrap';

body {
  padding-top: 100px;
  width: 95%;
  margin: auto;
  font-family: 'Arial';
  background-color: lightslategray;
  color: black;
}

.ride-story {
  text-overflow: ellipsis;
  overflow: hidden;
}

.flash {
  font-size: 12px;
}

.success-flash {
  color: green;
}

.error-flash {
  color: red;
}

.navbar li {
  padding-top: 15px;
}

.navbar .logo {
  padding-top: 0px;
  margin-left: 0px;
  position: relative;
  right: 35px;
}

