/*
*= require_self
*/
@import 'bootstrap';

body {
  padding-top: 100px;
  width: 95%;
  margin: auto;
  font-family: 'Arial';
  background-color: lightslategray;
  color: black;
}

.ride-story {
  a {
    color: black;
    text-decoration: none
  }
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-box {
  a {
    color: black;
    text-decoration: none;
  }
  width: 50%;
}

.flash {
  font-size: 12px;
}

.success-flash {
  color: green;
}

.error-flash {
  color: red;
}

.navbar-inner {
  height: 75px;
}

.navbar li {
  padding-top: 15px;
}

.navbar .logo {
  padding-top: 0px;
  margin-left: 0px;
}

.header {
  font-size: 35px;
  font-weight: bold;
  text-transform: capitalize;
  font-variant: small-caps;
}

.ride-text {
  width: 400px;
}

